.button {
    border: 1px solid #464540;
    background: #393830;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-align: center;
    padding: 10px 25px;
    transition: all .2s;
    -webkit-user-drag: none;
}
.button > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    pointer-events: none;
}
.button:hover {
    background: #45443a;
    transform: scale(1.05);
}
.button:focus {
    background: #33322b;
    transform: scale(0.97);
}
.button.disabled {
    color: #D0D5DD;
    border: 1px solid #EAECF0;
    background: #ffffff;
    box-shadow: none;
    cursor: not-allowed;
}
.button.filled {
    background: #F7E26C;
    border: 1px solid #F7E26C;
    color: #000;
}
.button.filled:hover {
    background: #DCC857;
    border: 1px solid #DCC857;
}
